<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MariaDbConnect" connectionString="server=localhost;port=3306;user=root;database=harwexbank;"/>
        <add name="MsSqlConnect" connectionString="Server=.;Database=HarwexBank;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="CurrentDataBaseName" value="MsSqlConnect"/>
    </appSettings>
</configuration>